button {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
    background-color: transparent;
    background-image: none
}
.text-primary {
    color: hsl(353, 39%, 33%) !important
}

.text-primary-dark {
    --tw-text-opacity: 1;
    color: hsl(353 39% 20%)
}

:root {
    --color-primary: hsl(353, 39%, 33%);
    --color-primary-dark: hsl(353, 39%, 25%);
    --color-primary-light: hsl(356, 67%, 55%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

img,
svg {
    display: block;
}

img {
    max-width: 100%;
    height: auto
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width: 640px) {
    .container {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem
    }
}

.container {
    max-width: 1080px
}

.product-info {
    background: linear-gradient(180deg, hsl(353, 39%, 33%) 0%, hsl(0, 0%, 100%) 100%);
}


.main-title {
    font-size: 23px;
    line-height: 1.1;
}

.main-title-wrapper-bg {
    background: linear-gradient(hsl(353, 39%, 33%) 30%, #fff 30%)
}

@media (min-width: 480px) {
    .main-title-wrapper-bg {
        background: linear-gradient(hsl(353, 39%, 33%) 35%, #fff 35%)
    }
}

@media (min-width: 640px) {
    .main-title-wrapper-bg {
        background: linear-gradient(hsl(353, 39%, 33%) 40%, #fff 40%)
    }
}

@media (min-width: 768px) {
    .main-title-wrapper-bg {
        background: #fcf2cc
    }
}

.solution {
    container-type: inline-size;
    container-name: solution
}

.solution__list li {
    text-align: center;
    font-weight: 700;
    color: hsl(353, 39%, 33%);
    padding-bottom: 10px
}

.offer-card__body {
    background: linear-gradient(#fff 40%, hsl(316, 39%, 33%, .2))
}

.offer-card {
    max-width: 290px;
    min-width: 190px;
    flex: 1 1 29%
}

.featured .offer-card__body {
    background: linear-gradient(#fff, #f8ffcd)
}

.featured .offer-card__title {
    background: var(--color-primary-dark)
}

.offer-card.featured>.offer-card__title::before {
    content: "";
    display: block;
    width: 53px;
    height: 58px;
    background: url("https://tryfitspresso.org/l/lib/img/media/bs_badge-small.webp") 50%/cover no-repeat;
    position: absolute;
    top: -3px;
    left: -2px;
    z-index: 1
}
.fill-primary-light {
    fill: #d93f49
}

.offer-card__cta {
    background: linear-gradient(180deg, #d20000 0, #ea0000 100%);
    border: 1px solid #af0000
}

.bg-primary {
    --tw-bg-opacity: 1;
    background-color: hsl(353 78% 35%)
}

.bg-primary\/20 {
    background-color: hsl(353 78% 35% / .2)
}

.fill-primary\/40 {
    fill: hsl(353 78% 35% / .4)
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.before\:h-0\.5::before {
    content: var(--tw-content);
    height: .125rem
}

.before\:w-full::before {
    content: var(--tw-content);
    width: 100%
}

.before\:bg-primary\/20::before {
    content: var(--tw-content);
    background-color: hsl(353 78% 35% / .2)
}

.before\:bg-primary\/25::before {
    content: var(--tw-content);
    background-color: hsl(353 78% 35% / .25)
}

.after\:h-0\.5::after {
    content: var(--tw-content);
    height: .125rem
}

.after\:w-full::after {
    content: var(--tw-content);
    width: 100%
}

.after\:bg-primary\/20::after {
    content: var(--tw-content);
    background-color: hsl(353 78% 35% / .2)
}

.after\:bg-primary\/25::after {
    content: var(--tw-content);
    background-color: hsl(353 78% 35% / .25)
}

.empty\:hidden:empty {
    display: none
}

.section__products button {
    pointer-events: none
}